<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sound_bite.title %>
</p>

<p>
  <strong>Transcript:</strong>
  <%= @sound_bite.transcript %>
</p>

<p>
  <strong>Lengh:</strong>
  <%= @sound_bite.lengh %>
</p>

<p>
  <strong>Audiofile:</strong>
  <%= @sound_bite.audiofile %>
</p>

<%= link_to 'Edit', edit_sound_bite_path(@sound_bite) %> |
<%= link_to 'Back', sound_bites_path %> 

<h2>Comments</h2>
	<% @sound_bite.comments.each do |comment| %> 
	<p> <%= comment.body %></p>
<%end%> 

